@import "variables";
@import "colors";

@function getMaxForScreenSize($value) {
  @return #{($value - 1) + $unit};
}

@mixin min($min) {
  @media only screen and (max-width: #{$min + $unit}) {
    @content;
  }
}

@mixin max($max) {
  @media only screen and (max-width: getMaxForScreenSize($max)) {
    @content;
  }
}

@mixin minMax($min, $max) {
  @media only screen and (min-width: #{$min}) and (max-width: getMaxForScreenSize($max)) {
    @content;
  }
}

@mixin tracking($value) {
  letter-spacing: ($value / 1000) + em;
}

@mixin centerX() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
